{
    margin:0;
    padding:0;
   }


#contenedor{
    width: 1200px;
    height: 800px;
    background: #ffffff;
    margin: 0.5em auto;
    padding: 0.5em;
    
   
}
#header{
    height: 15%;
    background: #ffffff;
    border-radius: 1em;
    margin: 1em;
    background-image: url(imagenes/LOGO-TRANSFORMA.png);
    background-repeat: no-repeat;
    background-position: 97%;
    }

/* Subtitulo de la pantalla */
#subtitulo{
  height: 100%; 
  width: 65%;
  float: left;
  background: #040D49;
  text-align: center;
  color: #F0F3F4;
  font-size: 45;
  border-radius: 1em; 
  font-family:sans-serif;
    
}
  
    
  /* Propiedades Contenedor de botones3*/  
  #centro{
    height: 40%;  
    width: 98%;
    background:  #A9E2F3;   
    text-align: center; 
    margin: 0.5em;
    border-radius: 1em; 
  
}    
    
    /* propiedades Footer, telefonos universidad parte abajo de la pantalla*/

#footer{
   height: 40%;
   width: 96%;
   background-image: url(imagenes/telefonos.JPG);
   background-repeat: no-repeat;
   border-radius: 1em;
  
    
        
        
}

/* propiedades DIV botones 3 */ 

#botones3{
    text-align: center;
    height: 25%;
    float: center;
    text-align: center;
    border-radius: 1em;
    
    
    
}
/* efecto fantasma para botones*/ 

button:hover {
   background: rgba(0,0,0,0); 
   color: #3a7999;
   box-shadow: inset 0 0 0 3px #3a7999;
    
}
        
/* propiedades de boton "Agenda examen medico general" */ 

#AEMG{
  height: 80%;
  border-radius: 1em;
    font-size: 18;
    
    
}

/* propiedades de boton "Agenda examen Odontologico" */ 
#AEO{
  height:80%;
  border-radius: 1em;
 font-size: 18;
 
}
   
    